<app-default-auth-layout 
    title="Login into your account" 
    primaryBtnText="Login Now" 
    secondaryBtnText="Signup Now" 
    (submit)="submit()" 
    (navigate)="navigate()"
    [disablePrimaryBtn]="!loginForm.valid"
    >
    <form [formGroup]="loginForm" class="w-full flex flex-col gap-3 mb-9">
        <app-primary-input inputName="email" type="email" label="Email" formControlName="email">
            <img src="/assets/svg/email-icon.svg">
        </app-primary-input>
    
        <app-primary-input inputName="password" type="password" label="Password" formControlName="password">
            <img src="/assets/svg/password-icon.svg">
        </app-primary-input>
    
        <span class="text-sm text-slate-400 underline text-end cursor-pointer hover:text-purple-600">
            Forgot password?
        </span>
    </form>
</app-default-auth-layout>